.container {
    width: 100%
}

.main-block {
    float: left;
    width: 70%;
    border: 10px black solid;
    box-sizing: border-box;
    padding: 35px;
    margin-bottom: 100px;
    ;
}

.sidebar {
    float: right;
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 35px 10px 35px;
    border: 10px red solid;
    box-sizing: border-box;
    margin-bottom: 100px;
}